.sw-cms-el-dailymotion {
    height: 100%;
    width: 100%;
    min-height: 315px;


    .sw-cms-el-dailymotion-iframe-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;

        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            overflow: hidden
        }
    }
}
