{% block sw_cms_element_dailymotion_preview %}
    <div class="sw-cms-el-preview-dailymotion">
        <img class="sw-cms-el-preview-dailymotion-img"
             :src="'customcmselement/static/img/background_dailymotion_preview.jpg' | asset">

        <img class="sw-cms-el-preview-dailymotion-icon"
             :src="'customcmselement/static/img/dailymotion.svg' | asset">
    </div>
{% endblock %}
