{% block sw_cms_element_image_config %}
<div class="sw-cms-el-config-youtube">
    <swag-youtube-field class="sw-cms-el-config-youtube__link-input" v-model="element.config.videoSrc.value"></swag-youtube-field>
    <sw-field class="sw-cms-el-config-youtube__show-controls"
          v-model="element.config.showControls.value"
          type="switch"
          label="Show video controls">
    </sw-field>
</div>
{% endblock %}
